<?xml version="1.0" encoding="ISO-8859-1"?>
<MENU>
    <ITEM>
        <NAME>CARTOFI PRAJITI</NAME>
        <PRICE>6 LEI</PRICE>
        <DESC>300 g</DESC>
    </ITEM>
    <ITEM>
        <NAME>PASTRAV INVELIT IN SUNCA AFUMATA</NAME>
        <PRICE>43 lei</PRICE>
        <DESC>Pastrav</DESC>
    </ITEM>

</MENU>